<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<%= link_to 'Sign in', new_user_session_path %>
<div class="questions_list">
 Questions:
 <br>
 <% if !@questions.empty? %>
  <% @questions.each do |q| %>
      <%= link_to q.title, q %><br>
      answers:
      <%= q.answers.count %> <br>
  <% end %>
<% end %>
</div>
<%= link_to 'Ask question', new_question_path %>
