<%= form_for @question do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :body %>
    <%= form.text_area :body, rows: 8 %>
    <p> Attachments: </p>
    <p>
       <%= form.fields_for :attachments do |att| %>
        <div class='links'>
          <%= link_to_add_association 'add file', form, :attachments, partial: 'attachment_fields' %>
        </div>
      <% end %>
     </p>
    <%= form.submit 'Create' %>
<% end %>
