<%= link_to 'Back', questions_path %><br>
<%= button_to 'Delete question', @question, method: :delete  %>
<div id='question_data'>
 <%= @question.title %><br>
 <%= @question.body %><br>
</div>

<div id='answers'>
 <%= form_for @answer, remote: true do |form| %>
  <%= form.label :body, 'Your answer:' %>
   <%= form.text_area :body, size: "25x12", id: 'Answer_to_question' %>
   <% if(!current_user.nil?) %>
    <%= form.hidden_field :user_id, value: current_user.id %>
   <% end %>
    <%= form.button :submit, name: 'question_id', value: @question.id, id:'Send answer' %>
  <% end %>

  <%= render 'answers' %>
</div>
