<%= link_to 'Back', questions_path %><br>
<% if user_signed_in? %>
  <% if @question.user_id == current_user.id %>
    <p> <%= link_to 'Edit question', '', class: 'edit-question-link', data: { question_id: @question.id }, remote: true %> </p>
    <p> <%= button_to 'Delete question', @question, method: :delete  %> </p>
  <% end %>
<% end %>

<div id='question_data'>
  <%= render 'question_data' %>
    <%= form_for @question, html: { id: "edit-question-#{@question.id}" }, remote: true do |form| %>
      <%= form.label :body, 'edit_question_body' %>
      <%= form.text_area :body %>
      <%= form.submit 'Save' %>
    <% end %>
</div>

<div id='answers'>
 <%= form_for @answer, remote: true do |form| %>
  <%= form.label :body, 'Your answer:' %>
   <div class='answer_errors'>

   </div>
   <%= form.text_area :body, size: "25x12", id: 'Answer_to_question' %>
   <p>
     <%= form.fields_for :attachments do |att| %>
      <%= att.label :file %>
      <%= att.file_field :file %>
     <% end %>
   </p>
   <% if(!current_user.nil?) %>
    <%= form.hidden_field :user_id, value: current_user.id %>
   <% end %>
    <%= form.button :submit, name: 'question_id', value: @question.id, id:'Send answer' %>
  <% end %>

  <%= render 'answers' %>
</div>
